:root {
	flex-direction: column;
}
.AddIcon
{
	margin-top: -2px;
	margin-bottom: -2px;
}
.Label
{
	flex-grow: 1;
	flex-shrink: 1;
}
.Header{
	flex-shrink: 1;
}
.HeaderSub{
	flex-grow: 1;
	flex-shrink: 1;
}